.chat {
    display: flex;
    height: 500px;
    border: 1px solid rgba(159, 183, 197, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-users {
    border-right: 1px solid rgba(159, 183, 197, 0.1);
    padding: 20px;
    width: 200px;
    background-color: #f6f9fa;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
  }
  
  .messages {
    flex: 1 1;
    height: calc(100% - 155px);
    max-width: 460px;
    overflow: auto;
  }
  
  .message {
    margin-bottom: 20px;
  }
  
  .message p {
    display: inline-flex;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F6F9FA;
    padding: 10px 15px 15px;
    color: #3F3F3F;
    margin-bottom: 2px;
  }
  
  .message span {
    opacity: 0.5;
    font-size: 14px;
  }
  
  .chat-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .chat-users ul li {
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 14px;
    box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
    font-weight: 500;
  }
  
  .chat-messages form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .chat-messages form textarea {
    width: 100%;
    margin-bottom: 10px;
    border-color: #E1E1E1;
    border-radius: 10px;
  }

  .chat__send-btn {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #8CEFAE;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
  }

  .chat__send-btn:hover {
    opacity: .8;
  }